.logo-div {
    display: flex;
    justify-content: center;
}

.contact-div {
    display: flex;
    justify-content: end;
}

.contact-link {
    font-size: 24px;
    background: var(--color-primary);
    border-radius: 5px;
    padding: 10px;
}

.contact-link:hover {
    background: var(--color-primary-hover);
}

.email-link:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

.faq-q {
    font-weight: bold;
    margin-top: 20px;
}

.issues-header {
    margin-bottom: -10px;
}